.list {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(300px, 320px);
  list-style: none;
  row-gap: 25px;
  margin-bottom: 10px;
}

@media (max-width: 1360px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1050px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
