.dashBoard {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}
body {
  margin: 0;
  padding: 0;
}
.CreateAppButton {
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgba(95, 0, 216, 1);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  width: 200px;
  border: 0px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: 0.5s;
}
.CreateAppButton:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
