.layout {
  display: flex;
}

.sidebar {
  position: fixed;
  height: 100vh;
  min-width: 250px;
  flex-shrink: 0;
}

.main {
  margin-left: 350px;
  padding: 50px 35px;
  flex-grow: 1;
  overflow-y: auto;
}

@media (max-width: 1050px) {
  .main {
    margin-left: 0;
  }
  .sidebar {
    height: 64px;
    min-width: 100%;
  }
  .layout {
    display: block;
  }
}
