.container {
    display: flex;
    justify-content: center;
}

.loadMoreButton {
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #d76e6a 0%, #de3333 50%, #78004a 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    width: 200px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
  }
  .loadMoreButton:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
  }