*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-weight: 700;

  margin: 0;
  padding: 0;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

html.blue {
  --color-main: #5f00d8;
  --color-secondary: #2ebf91; 
}

html.purple-orange {
  --color-main: #833AB4;
  --color-secondary: #FCB045;

}

html.orange-green {
  --color-main: #FE676C;
  --color-secondary:#A4FFC9;
}