*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@400;700&display=swap");
body {
  font-weight: 700;
  font-family: "Andika New Basic", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lato", sans-serif;
  --color-main: #5f00d8;
  /* --title-font-size: 39px; */
}
